asgiref==3.11.1
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.7
colorama==0.4.6
Django==6.0.3
flatbuffers==25.12.19
idna==3.11
ImageIO==2.37.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lazy-loader==0.5
llvmlite==0.47.0
mpmath==1.3.0
PyMySQL==1.1.0
mysqlclient>=2.1.0
networkx==3.6.1
numba==0.65.0
numpy==2.4.4
onnxruntime==1.24.4
packaging==26.1
pillow==12.2.0
platformdirs==4.9.6
pooch==1.9.0
protobuf==7.34.1
PyMatting==1.1.15
razorpay==2.0.1
referencing==0.37.0
rembg==2.0.75
requests==2.33.1
rpds-py==0.30.0
scikit-image==0.26.0
scipy==1.17.1
sqlparse==0.5.5
sympy==1.14.0
tifffile==2026.4.11
tqdm==4.67.3
tzdata==2026.1
urllib3==2.6.3
whitenoise==6.6.0
django-environ==0.11.2
gunicorn==21.2.0
